<div class="container">

        <div class="title">
            <app-label [text]="'Login'"></app-label>

        </div>
        <app-divider></app-divider>
        <app-label [text]="'Ingrese su usuario y contraseña para ingresar'"></app-label>
        

        <app-label [text]="'Usuario'"></app-label>
        <app-text-input [placeholder]="'Ingrese su usuario'" (textInputEvent)="updateUserText($event)"></app-text-input>


        <app-label [text]="'Contraseña'"></app-label>
        <app-text-input [placeholder]="'Ingrese su contraseña'" (textInputEvent)="updatePasswordText($event)"></app-text-input>

        <div class="flex-end">
            <app-icon-button [icon]="'login'" [text]="'Iniciar Sesion'" (buttonEvent)="login()"></app-icon-button>
        </div>

        
</div>