
<div class="task-detail"> 
    
    <!-- <h1>Title: {{this.task.title}}</h1>
    <p>Completed: {{this.task.getComplete()}}</p>
    <p>Id: {{this.task.getId()}}</p> -->
    <app-label  [text]="'Title: '+this.task.getTitle()"> </app-label>
    <app-label  [text]="'Completed: '+this.task.getComplete()"  > </app-label>
    <app-label  [text]="'Description: '+this.task.getDescription()"  > </app-label>
    <app-label  [text]="'Task ID: '+this.task.getId()" > </app-label>
    

    <div class="row">
        <app-icon-button [icon]="'edit'" (buttonEvent)="navigateEditTask()"></app-icon-button>
        <app-icon-button [icon]="'notes'" (buttonEvent)="performCopy()"></app-icon-button>
        <app-icon-button [icon]="'home'" (buttonEvent)="navigateHome()"></app-icon-button>

    </div>
</div>  