<div class="task-detail"> 
    
    <!-- <h1>Title: {{this.task.title}}</h1>
    <p>Completed: {{this.task.getComplete()}}</p>
    <p>Id: {{this.task.getId()}}</p> -->
    <div class="row">
        <app-label  [text]="'Title:'"> </app-label>
        <app-text-input [value]="this.task.getTitle()"></app-text-input>
    </div>
    <div class="row">
        <app-label  [text]="'Description:'"> </app-label>
        <app-text-input [value]="this.task.getDescription()"></app-text-input>
    </div>
    <div class="row">
        <app-label  [text]="'Task ID:'"> </app-label>
        <app-text-input [disabled]="true" [value]="this.task.getId().toString()"></app-text-input>
    </div>
    <div class="row">
        <app-label  [text]="'Completed: '"  > </app-label>
        <app-text-input [disabled]="true" [value]="this.task.getComplete().toString()"></app-text-input>
    </div>
    
    
    

    <div class="rowButtons">
        <app-icon-button [icon]="'edit'" (buttonEvent)="navigateEditTask()"></app-icon-button>
        <app-icon-button [icon]="'home'" (buttonEvent)="navigateHome()"></app-icon-button>

    </div>
</div>  
