button {
    padding:  0.5rem 1rem;
    width: 100%;
    height: 3rem;
    width: 3rem;
    margin-left: 2px;
    position: relative;
    background: transparent;
    border-radius: 0.25rem;
    box-sizing: border-box;

    @media (prefers-color-scheme: light) {
        border-color: black;    
    }
    @media (prefers-color-scheme: dark) {  
        
        border-color: white;
        img{
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(200deg) brightness(107%) contrast(101%);
        }
    }
    &:active{
        border-color: rgba(172, 255, 47, 0.529);
    }
}

button img {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0rem;
    position: absolute;
    left: calc(50% - 0.75rem);
    top: calc(50% - 0.75rem);


    @media (prefers-color-scheme: light) {
        svg {
            fill: black;
        }
    }
    @media (prefers-color-scheme: dark) {        
        svg{
            fill: white;
        }
    }
    background: transparent;
}
