ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

  h1 {
    display: block;
    text-align: left;
    padding: 10px 10px;
    margin: 0px;
    font-family: "Roboto", sans-serif;

    @media (prefers-color-scheme: light) {
      color: black;
    }
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
}
