

.header{
  max-width: 512px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    @media (prefers-color-scheme: light) {
      background-color: var(--blanco);
    }
    @media (prefers-color-scheme: dark) {        
      background-color: var(--negro);
    }
  }
  
  li {
  
    h1 {
      
      text-align: left;
      padding: 0.5rem 0.5rem;
      margin: 0px;
      font-family: "Roboto", sans-serif;
      @media (prefers-color-scheme: light) {
        color: var(--negro);
      }
      @media (prefers-color-scheme: dark) {        
        color: var(--blanco);
      }
    }
  }
}


