<meta charset="UTF-8">
<div class="table">
  <h4>Lista de tareas</h4>
  <div class="headerRow">
    <div class="column">
      <input type="text" placeholder="Tarea" >
    </div>
    <div class="column">
      <button type="button"> Add task</button>
    </div>
  </div>
  
    <div class="row">
      <input type="checkbox" name="checkbox" id="checkbox-1">
      <label for="checkbox-1"> Limpiar cocina </label>
      <button class="deleteButton" >🗑</button>
    </div>
      
    <div class="row" id="row-2">
      <input type="checkbox" name="checkbox" id="checkbox-2" checked>
      <label for="checkbox-2"> Limpiar living</label> 
      <button class="deleteButton" >🗑</button>
    </div>

    <div class="row">
      <input type="checkbox" name="checkbox" id="checkbox-1">
      <label for="checkbox-2"> Pasear perro</label> 
      <button class="deleteButton" >🗑</button>
    </div>
  
</div>

