

<div class="row">
    <app-check-button [checked]="task.getComplete()" (checkBtnEvent)="checkEvent($event)" ></app-check-button>
    <app-label class="taskLabel" [text]="task.getTitle()" [tachadoBoolan]="task.getComplete()" routerLink="/tasks/{{task.getId()}}"> </app-label>
    <!-- <app-label [task]="task.title" [tachadoBoolan]="task.complete"></app-label> -->


    <app-icon-button [icon]="'notes'" (buttonEvent)="performCopy()"></app-icon-button>
    <app-icon-button [icon]="'share'" (buttonEvent)="share()"></app-icon-button>
    <app-icon-button [icon]="'trash'" (buttonEvent)="deleteTask()" ></app-icon-button>
</div>  