.formRow{
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    height: 52px;
    margin: 10px 0px;
    align-items: center;
    text-align: center;
    row-gap: 8px;
    background-color: lightslategray;
}

app-text-input{
    // width: 80%;
}

app-icon-button{
    // width: 20%;
}

@media (prefers-color-scheme: light) {
    .formRow {
      background-color: white;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    .formRow {
      background-color: black;
      color: white;
    }
}