@import 'variables';


/* You can add global styles to this file, and also import other style files */

label,h1,input {
 
    font-family: "Roboto", sans-serif;
    
}

// Definir las variables de color para cada tema


/* Dark-mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: $blanco;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: $negro;
  }
}

label,h1,input {
  font-family: 'Open Sans', sans-serif;
    
}
