@import '../../../variables';

.task-detail{
    display: flex;
    width: 32rem;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0.5rem 0px;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 0.5rem;
    border-radius: 0.25rem;
    
    
    @media (prefers-color-scheme: light) {
        background-color: var(--negro10);
    }
    @media (prefers-color-scheme: dark) {        
        background-color: var(--blanco10);
    }

    app-label{
        flex: 1;
        display: flex;
        flex-grow: 3;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    .row{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        column-gap: 0.5rem;
        justify-items: center;
        align-items: center;
    }
    .rowButtons{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        column-gap: 0.5rem;
        
    }

}