
@import '../../../variables';

.tachado {
    text-decoration: line-through;  
}

label{
    @media (prefers-color-scheme: light) {
        color: $negro;
    }
    @media (prefers-color-scheme: dark) {        
        color: $blanco;
    }
}

